*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Verdana, sans-serif';
    background: rgb(228, 177, 243);
    color: rgb(218, 63, 205);

}



main.cards{
    display: flex;
    padding: 32px;
}

main.cards section.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    margin-right: 256px;
    margin-left: 50px;
}

main.cards section.card.icon{
    width: 64px;
    height: 64px;
   
}


main.cards section.card img{
    width: 100%;
    border-radius: 15px;
}

